{% extends "base.html" %}
<!-- Changes to be made -->
<!-- Title Section -->
{% block title %}Edit Product{% endblock %}

<!-- Edit Product Form -->
{% block content %} {% if user.is_authenticated %} {% if user.is_admin() %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">
                        Edit Product {{ product.id }}
                    </h5>
                </div>
                <div class="card-body">
                    <!-- Changes to be made -->
                    <form
                        method="post"
                        action="{{ url_for('auth_admin.edit_product', product_id=product_id) }}"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="product_name">Name :</label>
                            <input
                                type="text"
                                class="form-control"
                                id="product_name"
                                name="product_name"
                                value="{{ product.product_name }}" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <!-- Button to show/hide the old image -->
                            <input
                                type="button"
                                id="oldImageButton"
                                class="btn btn-info"
                                value="Show Old Image"
                                onclick="oldImagePreviewer()" />
                            <!-- Display the old image initially (hidden by default) -->
                            <img
                                id="oldImage"
                                src="{{ url_for('static', filename='images/' + product.product_picture) }}"
                                alt="Old Product Image"
                                width="200"
                                style="display: none" />
                            <br /><br />
                            <label for="product_picture">New Image :</label>
                            <input
                                type="file"
                                class="form-control-file"
                                id="product_picture"
                                name="product_picture"
                                accept=".jpg, .jpeg, .png, .webp, .svg" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="total_quantity">Total Quantity</label>
                            <input
                                type="number"
                                class="form-control"
                                id="total_quantity"
                                name="total_quantity"
                                value="{{ product.total_quantity }}" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="unit_id">Unit</label>
                            <select
                                class="form-control"
                                id="unit_id"
                                name="unit_id">
                                {% for unit in units %}
                                <!-- Condition to select product's unit in dropdown by default -->
                                {% if unit.id == product.unit_id %}
                                <option value="{{ unit.id }}" selected>
                                    {{ unit.unit_name }}
                                </option>
                                {% else %}
                                <option value="{{ unit.id }}">
                                    {{ unit.unit_name }}
                                </option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="rate_per_unit">Rate per Unit</label>
                            <input
                                type="number"
                                class="form-control"
                                id="rate_per_unit"
                                name="rate_per_unit"
                                value="{{ product.rate_per_unit }}" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="manufacture_date"
                                >Manufacture Date</label
                            >
                            <input
                                type="date"
                                class="form-control"
                                id="manufacture_date"
                                name="manufacture_date"
                                value="{{ product.manufacture_date }}" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="category_id">Category</label>
                            <select
                                class="form-control"
                                id="category_id"
                                name="category_id">
                                {% for category in categories %}
                                <!-- Condition to select product's category in dropdown by default -->
                                {% if category.id == product.category_id %}
                                <option value="{{ category.id }}" selected>
                                    {{ category.category_name }}
                                </option>
                                {% else %}
                                <option value="{{ category.id }}">
                                    {{ category.category_name }}
                                </option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                        <hr />
                        <br />
                        <button type="submit" class="btn btn-primary btn-block">
                            Edit Product
                        </button>
                        <br />
                        <div class="mx-auto" style="width: 60px">
                            <a
                                href="{{ url_for('auth_admin.view_product', product_id=product.id) }}"
                                class="btn btn-light"
                                >Cancel</a
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endif %} {% endblock %}
