{% extends "base.html" %}

<!-- Title Section -->
{% block title %}Login{% endblock %}

<!-- User Login Form -->
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">User Login</h5>
                </div>
                <div class="card-body">
                    <form
                        method="post"
                        action="{{ url_for('auth_user.login') }}">
                        <div class="form-group">
                            <label for="username">Username :</label>
                            <input
                                type="text"
                                class="form-control"
                                id="username"
                                name="username"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Login
                        </button>
                    </form>
                </div>
            </div>
            <!-- Sign-up Link -->
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an account?
                    <a class="ml-2" href="{{ url_for('auth_user.signup') }}"
                        >Sign Up now!</a
                    >
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}
