{% extends "base.html" %}

<!-- Title Section -->
{% block title %}QuickGrocer{% endblock %}

<!---->

{% block content %} {% if carts %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-4">
                Would you like to purchase all the products in the cart?
            </h1>
            <hr />
            <br />

            <h2 class="mt-4"><strong>Total Bill:</strong> ₹{{ total_bill }}</h2>

            <hr />

            <form
                method="post"
                action="{{ url_for('auth_user.purchase_all') }}"
                enctype="multipart/form-data">
                <br />
                <br />
                <button type="submit" class="btn btn-primary btn-block">
                    Buy Product
                </button>
            </form>
            <br />
            <div class="mx-auto" style="width: 60px">
                <a href="{{ url_for('auth_user.cart') }}" class="btn btn-light"
                    >Cancel</a
                >
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}
