{% extends "base.html" %}

<!-- Title Section -->
{% block title %}Login{% endblock %}

<!-- Admin Login Form -->
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Admin Login</h5>
                </div>
                <div class="card-body">
                    <form
                        method="post"
                        action="{{ url_for('auth_admin.admin_login') }}">
                        <div class="form-group">
                            <label for="admin_name">Admin Name :</label>
                            <input
                                type="text"
                                class="form-control"
                                id="admin_name"
                                name="admin_name"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
